#webView{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    text-align: center;
    max-width: 700px;
    padding: 1em;
    display: inline-block;
    transform: translateY(10%);  
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
}
p {
    font-size: 1.2em;
}
a, a:visited {
    font-size: 1.4em;
    color: rgb(85, 3, 153);
}