body{
    text-align: center;
    padding: 0;
    margin: 0;
}
#webView{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    text-align: center;
    max-width: 700px;
    padding: 1em;
    display: inline-block;
    transform: translateY(10%);  
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
}
p {
    font-size: 1.2em;
}
a, a:visited {
    color: rgb(85, 3, 153);
}
#qrCode a {
    font-size: 1.2em;
}
#qrCode p{
    padding: 0;
    margin: 0;
}
#gitBox{
    padding-top: 3em;
}
#gitBox p{
    padding: 0.2em;
    margin: 0;
}
#gitBox a{
    padding: 0.2em;
    margin: 0;
}

/* login */
.login{
    /* border: 2px solid red; */
    width: 100%;
}
.login input {
    font-size: 4em;
    text-align: center;
    padding: 20px 40px 20px 40px;
    margin: 0.5em;
    width: 60%;
    border-radius: 10px; 
}
.login input[type="submit"]{
    padding: 30px;
    margin: 1em;
    font-size: 3em;
    font-family: Arial, "Helvetica", sans-serif;
    font-weight: bold;
    background-color: lightgray;
    color:rgb(66, 66, 66);
    text-transform: uppercase;
    text-align: center;
    width: 30%;
}